<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        
        <% if @range == "User" %>
          <h2>User search for ""</h2>
            <thead>
            <tr>
              <th></th>
              <th>name</th>
              <th>introduction</th>
            </tr>
          </thead>
          <% @users.each do |user| %>
          <tbody>
            <tr>
              <td>
                <%= attachment_image_tag user, :profile_image, :fill, 40, 40, fallback: "no_image_square.jpeg", size: "40x40" %>
              </td>
              <td><%= user.name %></td>
              <td><%= user.introduction %></td>
            </tr>
            <% end %>
          </tbody>
        <% else %>
        <!--検索対象モデルがUserではないとき(= 検索対象モデルがBookの時)-->
        
        <thead>
            <tr>
              <th></th>
              <th>title</th>
              <th>opinion</th>
            </tr>
          </thead>
          <tbody>
          <tbody>
            <% @books.each do |book| %>
              <tr>
                <td><%= book.title %></td>
                <td><%= book.body %></td>
              </tr>
            <% end %>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>